<div class="trip-list-element-container">    <!-- Container -->
    <div class="image-container">        <!-- Photo Cointainer -->
        <mat-card>Simple Card</mat-card>
        <img class="fff" src="assets/img/hotel.jpg" />

    </div>
    <div class="info-container">
        <!-- Information Cointainer -->
        <p>Hotel Name</p>
        <p>Poland</p>
        <p>Warsaw</p>
        <p>20/11/2019</p>
        <p>30/11/2019</p>
        <p>10 days</p>
    </div>
    <div class="checkout-container">
        <!-- Price and Places Container -->
        <button> Continue </button>
    </div>
</div>